
.img-container{
    width:100%; /* image -width */
    height:100%; /* image-size */
    position:relative;
    overflow: hidden;
}

.inno-img{
    width:100%;
    height:100%;
    position:absolute;
    object-fit: contain;
}

