<div class="h-full flex flex-col justify-between w-fit bg-teal-900">
    <nav>
        <ul>
            <li>
                <a 
                routerLink="/"
                >
                    <mat-icon 
                    aria-hidden="false" 
                    aria-label="Example home icon" 
                    fontIcon="folder"
                    class="icon-display selected"
                    ></mat-icon>
                </a>
            </li>
            
        </ul>
    </nav>
    <nav>
        <ul>
            <!--<li>
                <a
                routerLink="/">
                <mat-icon 
                aria-hidden="false" 
                aria-label="Example home icon" 
                fontIcon="workspaces"
                class="icon-display"
                ></mat-icon>
            </a>
            </li>-->
            <li>   
                <a
                routerLink="/settings">         
                <mat-icon 
                aria-hidden="false" 
                aria-label="Example home icon" 
                fontIcon="settings"
                class="icon-display"
                ></mat-icon>
                </a>
            </li>
        </ul>
    </nav>
</div>
